body {
  background-image: url(./images/pattern-background-desktop.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: var(--pale-blue);
}

.wrapper {
  width: 480px;
  height: 700px;
  border-radius: 18px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-direction: row;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.34) 0px 3px 8px;
}

.heroimage {
  width: 480px;
}

h2 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 35px;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  color: var(--dark-blue);
}

p {
  font-family: "Red Hat Display", sans-serif;
  font-size: 15px;
  margin: -10px 80px 0 80px;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--desaturated-blue);
}

.details {
  width: 400px;
  margin: 30px 40px 0 40px;
  border-radius: 18px;
  background-color: var(--very-pale-blue);
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.logo {
  width: 48px;
  height: 48px;
  margin-left: 20px;
}

.details > span {
  font-family: "Red Hat Display", sans-serif;
  color: var(--dark-blue);
  margin: 5px 0 0 20px;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

.details > span > b {
  color: var(--desaturated-blue);
  font-size: 14px;
  font-weight: 500;
  display: block;
}

.change {
  text-decoration: underline;
  color: var(--bright-blue);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
  margin-left: 150px;
}

.change:hover {
  opacity: 0.7;
  transition: 300ms ease-in-out;
}

.cta1 {
  cursor: pointer;
  border: 0px;
  width: 400px;
  margin: 30px 40px 0 40px;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 15px;
  background-color: var(--bright-blue);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.34) 0px 3px 8px;
}

.cta1:hover {
  opacity: 0.7;
  transition: 300ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.44) 0px 4px 9px;
}

.cta1:active {
  opacity: 0.7;
  transition: 100ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.64) 0px 6px 11px;
}

.cta2 {
  cursor: pointer;
  border: 0px;
  width: 120px;
  margin: 20px 180px 0 180px;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 15px;
  background-color: transparent;
  color: var(--desaturated-blue);
}

.cta2:hover {
  color: var(--dark-blue);
  transition: 300ms ease-in-out;
}

@media only screen and (max-width: 540px) {
  .wrapper {
    width: 300px;
    height: 470px;
  }

  .heroimage {
    width: 300px;
  }

  h2 {
    font-size: 22px;
  }

  p {
    font-size: 10px;
    margin: -10px 55px 0 55px;
  }

  .details {
    width: 240px;
    margin: 25px 30px 0 30px;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .logo {
    width: 35px;
    height: 35px;
    margin-left: 10px;
  }

  .details > span {
    margin: 5px 0 0 10px;
    font-size: 11px;
    line-height: 14px;
  }

  .details > span > b {
    font-size: 11px;
  }

  .change {
    font-size: 11px;
    margin-left: 65px;
  }

  .change:hover {
    opacity: 0.7;
    transition: 300ms ease-in-out;
  }

  .cta1 {
    width: 240px;
    margin: 25px 30px 0 30px;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
  }

  .cta2 {
    width: 90px;
    margin: 18px 105px 0 105px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
  }
}
